@import "tailwindcss";

@theme {
  --color-base-50: var(--color-stone-50);
  --color-base-100: var(--color-stone-100);
  --color-base-200: var(--color-stone-200);
  --color-base-300: var(--color-stone-300);
  --color-base-400: var(--color-stone-400);
  --color-base-500: var(--color-stone-500);
  --color-base-600: var(--color-stone-600);
  --color-base-700: var(--color-stone-700);
  --color-base-800: var(--color-stone-800);
  --color-base-900: var(--color-stone-900);
}

.box {
  @apply bg-base-50 shadow-[8px_8px_0px_0px] shadow-base-900 border border-base-900;
}

.button {
  @apply grid place-items-center gap-2 border-2 font-mono cursor-pointer border-base-900 hover:bg-base-900 hover:text-base-50 transition-colors;
}

.button-alt {
  @apply bg-base-900 text-base-50 hover:bg-base-800;
}

.modal {
  @apply absolute inset-0 z-10 grid place-items-center bg-base-100/50 backdrop-blur-xs;
}

@keyframes drop {
  0% {
    transform: translateY(calc(-100% * (var(--row) + 1)));
  }

  65% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-drop {
  animation: drop 0.4s cubic-bezier(0.5, 0.05, 0.2, 1);
}
